.container{
    border: 1px black solid;
    text-align: center;
    margin: 10 auto; /*espacio entre containers; auto=centrado*/
    width: 75%;
}

.flex-box-container{
    display: flex;
    border: 1px black solid;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.flex-box-container:not(#cpuchoice-3) img:hover {
    border: 5px red solid;
}